/*General Styles for the whole site*/
.container-fluid{
	padding:0px;
	font-family: 'PT Sans Caption', sans-serif;
	overflow-x: hidden;
}
/*Styles for the website heading*/
.container-fluid .jumbotron{
	border-radius: 0px;
	background-color: MediumSeaGreen;
	color: black; 
	box-shadow: 0px 2px 10px grey;
	padding: 5px;
	font-family: 'Cinzel Decorative', cursive;
 }
.logo{
 	display: inline-block;
 	
 }
.logo h2{
	font-weight: bolder;
}
.logo img{
	width: 140px;
	height: 75px;
	padding-right: 15px;
}
nav{
	margin-top:40px;
	display: inline-block;
	float: right;
	vertical-align: middle;

}
nav ul li{
	display: inline-block;
	list-style-type: none;
	font-size: 18px;
	padding: 5px;
	color: white;
}
nav ul li:hover{
	color: black;
}
/*Styles for the Main Section*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*Styles for the questions list*/
.questionBox{
	display: flex;
	border: 0.5px solid #ddd;
	background-color: white;
	box-shadow: 2px 2px 5px lightgrey;
	padding: 5px;
}
.author{
	border-bottom: 1px solid lightgrey;
}
.author span{
	font-weight: bold;
	font-family: 'Cinzel Decorative', cursive;
}
.questionContent{
	padding-left: 30px;
}
/*Styles for the Ask a question section*/
.ask{
	position: relative;
	border: 2px solid #ddd;
	box-shadow: 0px 0px 5px lightgrey;
	text-align: center;
	padding: 10px;
}
.button{
	background-color: transparent;
	margin: 10px;
	border: 2px solid grey;
	box-shadow: 0px 0px 5px MediumSeaGreen;
	border-radius: 4px;
}
.button:hover{
	box-shadow: 0px 0px 10px black;

}
.emberLogo{
	width: 70%;
}
/*Styles for the add a question form*/
.formSection{
	padding: 20px;
}
.formSection img{
	width: 80px;
}
.saveButton{
	float: left;
	margin-left: 20px;
}
.closeButton{
	float: right;
    margin-right: 20px;
}

/*Styles for the website footer*/
footer{
	background-color: #9a9999;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0px 0px 15px grey;
    margin-bottom: 0px;
}