/*General Styles for the whole site*/
.container-fluid{
	padding:0px;
	font-family: 'PT Sans Caption', sans-serif;
	overflow-x: hidden;
	font-size: 17px;
}
h1,h2,h3,h4,h5{
	font-weight: bold;
	font-family: 'Cinzel Decorative', cursive;
}
/*Styles for the Website template at application.hbs*/
/*Styles for the website heading*/
.container-fluid .jumbotron{
	border-radius: 0px;
	background-color: MediumSeaGreen;
	color: black; 
	box-shadow: 0px 5px 20px grey;
	padding: 5px;
	font-family: 'Cinzel Decorative', cursive;
 }
.logo{
 	display: inline-block;
 	
 }
.logo h2{
	font-weight: bolder;
}
.logo img{
	width: 140px;
	height: 75px;
	padding-right: 15px;
}
nav{
	margin-top:40px;
	display: inline-block;
	float: right;
	vertical-align: middle;

}
nav ul li{
	display: inline-block;
	list-style-type: none;
	font-size: 18px;
	padding: 5px;
	color: white;
}
nav ul li:hover{
	color: black;
}
/*Styles for the website footer*/
footer{
	background-color: #9a9999;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0px 0px 15px grey;
    margin-bottom: 0px;
}
/*Styles for the Home/Index Page*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*Styles for the questions list*/
.questionBox{
	display: flex;
	border: 0.5px solid #ddd;
	background-color: white;
	box-shadow: 5px 5px 5px lightgrey;
	padding: 5px;
	margin-bottom: 15px;
}
.author{
	border-bottom: 1px solid lightgrey;
}
.author span{
	font-weight: bold;
	font-family: 'Cinzel Decorative', cursive;
}
.questionContent{
	padding-left: 30px;
}
/*Styles for the Ask a question section*/
.ask{
	position: relative;
	border: 2px solid #ddd;
	box-shadow: 0px 0px 20px grey;
	text-align: center;
	padding: 70px 10px;
	height: 50vh;
}
.button{
	background-color: transparent;
	margin: 10px;
	border: 2px solid grey;
	box-shadow: 0px 0px 5px MediumSeaGreen;
	border-radius: 4px;
}
.button:hover{
	box-shadow: 0px 0px 10px black;

}
.emberLogo{
	width: 70%;
}
/*Styles for the add a question form*/
.formSection{
	padding: 20px;
}
.formSection img{
	width: 80px;
}
.saveButton{
	float: left;
	margin-left: 20px;
}
.closeButton{
	float: right;
    margin-right: 20px;
}

/*Styles for the About and Contact Pages*/
.contact, .about{
	position: relative;
	border: 2px solid #ddd;
	box-shadow: 0px 0px 20px grey;
	text-align: center;
	padding: 70px 10px;
	margin: 20px;
}
/* Styles for the Question Page*/
.backButton{
	margin-left: 20px;
}
.questionDisplay{
	position: relative;
	border: 2px solid #ddd;
	box-shadow: 0px 0px 20px grey;
	/*text-align: center;*/
	padding: 20px;
	margin: 20px;
}
.questionNotes{
	border-top: 1px solid lightgrey;
	padding-left: 30px;
	padding-top: 5px;

}
.updateQuestionSection .updateButton{
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.updateQuestionSection .delButton{
	display: inline-block;
	float:right;
}
.updateQForm{
	border: 2px solid lightgrey;
	padding: 10px;
	margin-bottom: 10px;
}
.answerList ul li{
	list-style-type: none;
	border: 1px solid lightgrey;
	margin: 5px;
	
}
.answerList ul li .content{
	margin: 5px;
	padding: 30px;

}

.answerContent{
	border-bottom: 2px solid lightgrey;
}
.delAnswer{
	float: right;
	padding-top: 5px;

}
.answerAuthor{
	padding-top: 5px;
	float: left;
}
.answerAuthor span{
	font-weight: bold;
	font-family: 'Cinzel Decorative', cursive;

}
