<div class="container-fluid">
	<h2> About us </h2>
	<p> Ember.js is an open-source JavaScript web framework for creating ambitious web applications.</p>
	<p> It allows developers to create scalable single-page web applications by incorporating common idioms and best practices into the framework.</p>
	<img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/Ember.js_Logo_and_Mascot.png/170px-Ember.js_Logo_and_Mascot.png" alt="Ember.js logo">

	<p> We are a message board that connects users of Ember.js to ask questions and receive answers.</p>

</div>
