<div class="container-fluid">
	<header class="jumbotron">
		<h1>Ember Q&A Message Board</h1>
		<nav class="well">
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Contact</li>
			</ul>
		</nav>
	</header>

{{outlet}}

	<footer class="well">
		<p>&copy;2017 Ember Q&A Message Board</p>
	</footer>

</div>