<div class="container-fluid">
	<div class="contact">
		<h2> Contacts </h2>
		<p>We would love to answer any burning questions you may have.</p>

		<h4>Contact us today!</h4>
		<hr />
		<img src="images/icons8-Feedback-64.png">
		<p>
		  Ember Board Headquarters<br>
		  1212 Test Address Avenue<br>
		  TestyMcTestington, Nrb
		</p>
		<img src="images/icons8-Phone-64.png">
		<p>(503) 123-4545</p>
		<img src="images/icons8-Reply-64.png">
		<p>info@emberboard.com</p>
	</div>
</div>