<div class="container-fluid">
	<h2> Contacts </h2>
	<p>We would love to answer any burning questions you may have.</p>

<p>Contact us today!</p>

<p>
  Ember Board Headquarters<br>
  1212 Test Address Avenue<br>
  TestyMcTestington, Nrb
</p>

<p>(503) 123-4545</p>

<p>info@emberboard.com</p>

</div>