
<button {{action 'goBack'}} class="btn btn-success backButton"><img src="images/icons8-Back Arrow Filled-50.png" alt="&larr; Back"></button>

<div class="questionDisplay">
	{{add-answer saveAnswer='saveAnswer' question=model}}
</div>

<div class="questionDisplay">
	{{question-info question=model updateQuestion='updateQuestion' deleteQuestion='deleteQuestion' deleteAnswer='deleteAnswer'}}
</div>


