<div class="well">
<button {{action 'goBack'}} class="btn-sm btn-info">&larr; Back</button>
</div>
<div class="well">
	<h3>Question</h3>
	{{question-info question=model updateQuestion='updateQuestion' deleteQuestion='deleteQuestion'}}
</div>
<div class="well">
	<h3>Answers</h3>
	{{add-answer saveAnswer='saveAnswer' answer=answer}}
</div>

